body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 1)!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

.nav-container {
  background-color: rgba(0, 0, 0, 1)!important;
  /* position: fixed!important; */
}


.cart-length {
  position: relative;
  top: -10px;
  color: goldenrod;
}

.navbar_container .navbar_a {
  order: 2;
}

img .d-block .w-100 .carousel-img {
  width: inherit!important;
  height: inherit!important;
}

.nav-links {
  color: gold!important;
} 

/*  Carousel */
.carousels h3, p {
  font-family: monospace;
  color: gold;
  font-weight: 800;
}
/* Header */
.header{
  background-image: url("./Components/Images/pexels-r-fera-432059.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px dotted goldenrod;
  border-top: 1px dotted goldenrod;
}
.header h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 362px;
}
.header button{
  /* width: 250px; */
  padding: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  font-weight: 800;
  border: 2px solid gold;
  line-height: 20px;
  background: unset;
  color: antiquewhite;
}

@media screen and (max-width: 576px) {
  .header {
    height:60vh;
  }
  .header button {
    margin-top: 70px;
  }
}
/* Header */


/* Modal */
.modal-body .emoji {
  width: 25px!important;
  height: 35px!important;
}
/* Products Section */

.container-fluid {
  margin: 35px 0 25px 0;
}
.card {
  align-items: center;
  margin-bottom: 35px;
  /* height: 406px; */
  padding: 20px;
  background-color: rgba(20, 18, 18, 0.5)!important;
  border: 1px solid antiquewhite!important;
  border-radius: 10px!important;
  width: 150px!important; 
  height: 250px!important; /* nil height and width */
}

.card img {
  width: 90%!important;
  height: 120px!important;
}

.card-body {
  text-align: center;
  color: white;
}

.col {
  width: fit-content!important;
}
.row {
  display: grid!important;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
}

/* nil */
.card-button {
  width: 100px!important;
  font-size: 10px!important;
  margin-top: 0;
}
.card-body-title {
  font-size: 12px!important;
  margin-bottom: 10px;
}
.card-body {
  font-size: 10px;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .row {
    grid-template-columns: repeat(4,1fr);
  }
}
@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width: 576px) {
  .row {
    grid-template-columns: repeat(2,1fr);
  }
  .card {
    width: 155px!important;
    height: 235px!important;
    padding: 13px;
  }
  .card img {
    width: 86px;
    height: 106px;
    padding: 0 0 0 0!important;
  }
  .card-body {
    margin: 5px 0 0 0!important;
    padding: 0!important;
  }
  .card-body-title {
    font-size: 12px!important;
    margin: 8px 0 0 0!important;
    padding: 0!important;
  }
  .card-text {
    margin: 0;
    font-size: 12px;
}
.card-button {
    width: 100px!important;
    font-size: 10px!important;
    margin-top: 10px!important;
}
  }


/* Products Section */

/* Cart and cart overlay */
.cart-overlay {
  position: absolute;
  top: 0;
	right: 0;
	width: 100%;
	height: 1440px;
  background: transparent;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
	visibility: hidden;
  transition: all 0.6s linear;
}

.cart {
  position: fixed;
 top: 0;
 right: 0;
 width: 30%;
 height: 100%;
 overflow: scroll;
 background: gray;
 z-index: 3;
 background: rgb(231, 226, 221);
 padding: 1.5rem;
 transform: translateX(101%);
 transition: all 0.8s linear;
}

.close-cart {
	cursor: pointer;
	font-size: 1.5rem;
 }
 .close-cart i, .your-cart {
  margin-bottom: 20px;
 }

 .main-section {
  margin: 50px 0 50px 0;
 }

 .products {
  display: grid;
  grid-template-rows: auto auto auto auto;
 }

 @media screen and (max-width: 900px) {
	.cart {
		width: 30vw;
		min-width: 330px;
  }
}

/* cart items */
.cart-item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding-bottom: 20px;
    /*  */
    background: lightgrey;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    height: 120px;
}
.cart-item img {
  width: 80px;
  height: 101px;
}
.price-name {
    height: 97px;
    display: grid;
    grid-gap: 61px;
    text-align: center;
}
.price-name h2{
  font-size: 11px;
  text-decoration: none;
  font-weight: 500;
}
.add-subtract {
    height: fit-content;
    display: grid;
    position: relative;
    /* top: -17px; */
    justify-content: end;
    grid-template-rows: repeat(3,1fr);
    position: relative;
}
.add-subtract h3{
  height: 35px;
  width: 30px;
  padding: 5px 0px 0px 9px!important;
  border-radius: 5px;
  font-size: calc(1.225rem + .1vw)!important;
  background: rgb(231, 226, 221);
}

.remove, .add{
  cursor: pointer;
  background: rgb(231, 226, 221);
  font-size: calc(1.225rem + .5vw)!important;
  padding: 0 0 0 9px!important;
  border-radius: 5px;
}
.add {
  padding: 0 0 0 6px!important;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.checkout-btn {
    width: 9rem;
    height: 35px;
    border-radius: 4px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.checkout {
  display: flex;
  justify-content: center;
}

.remove{
  width: 30px;
  height: 30px!important;
  border-radius: 3px;
  font-size: calc(1.225rem + .4vw)!important;
}
.add {
  font-size: calc(1.125rem + .3vw)!important;
  padding: 0 0 2px 7px!important;
  border-radius: 3px;
}
.add-subtract h3 {
  height: 30px;
  font-size: calc(1.125rem + .1vw)!important;
  padding: 3px 0 3px 10px!important;
}
@media screen and (max-width: 900px) {
  .cart-item {
    height: 120px;
  }
	.add-subtract {
    height: 109px;
    top: -3px!important;
  }
  .price-name {
    grid-gap: 40px;
  }
  .cart-item img {
    height: 100px;
  }
  .price-name {
    grid-gap: 40px!important;
  }
  .price-name h2 {
    font-size: 13px!important;
  }
  .remove{
    width: 30px;
    height: 30px!important;
    border-radius: 3px;
    font-size: calc(1.225rem + .4vw)!important;
  }
  .add {
    font-size: calc(1.125rem + .3vw)!important;
    padding: 0 0 2px 7px!important;
    border-radius: 3px;
  }
  .add-subtract h3 {
    height: 30px;
    font-size: calc(1.125rem + .1vw)!important;
    padding: 3px 0 3px 10px!important;
  }
}
@media screen and (max-width: 768px) {
  .price-name {
    grid-gap: 58px!important;
  }
}

/* checkout */
.checkout-form {
    display: grid;
    grid-template-rows: auto auto;
}
.checkout-form form {
    display: flex;
    flex-direction: column
}
.checkout-form  button {
  width: 11rem;
    height: 35px;
    border-radius: 4px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-top: 15px;
}

.proceed {
  font-style: italic;
  margin-bottom: 50px!important;
}
.proceed-hr {
  width: 116px;
}

/* Countdown */
.countdown-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 130%;
    font-size: 30px;
    font-style: italic;
    justify-items: center;
    color: white;
    border: 1px solid gainsboro;
    position: monospace;
    font-family: Montserrat;
    margin-top: 20px;
}
  

.countdown-container span {
  font-size: 25px;
}
.flash-sale span {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  color: gold;
  font-style: oblique;
  font-family: sans-serif;
  display: contents;
  line-height: 35px;
  width: 266px;
}

/* Flash-Sale */
.flash-sale {
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}


.flash-sale-emoji {
  width: 20px;
}

@media screen and (max-width: 768px) {
  .countdown-container {
    width: 100%;
  }
  .countdown-container span {
    font-size: 13px;
  }
  .flash-sale span {
    font-size: 12px;
  }
  .flash-sale-emoji {
    width: 15px;
  }
}

